<footer>
    <section class="">
        <h4 class="h4">Institucional</h4>
        <a href="" id="link">Nuestra Empresa</a>
        <a href="" id="link">Comite Ejecutivo</a>
        <a href="" id="link">Trabajan con nosotros</a>
    </section>
    <section class="">
        <h4 class="h4">Servicios</h4>
        <a href="" id="link">Catalogos</a>
        <a href="" id="link">Promociones</a>
        <a href="" id="link">Mis Pedidos</a>
        <a href="" id="link">Mi Carrito</a>
        <a href="" id="link">Costo de envio</a>
        
    </section>
    <section class="">
        <h4 class="h4">Atencion al Cliente</h4>
        <a href="" id="link">Centro de Ayuda</a>
        <a href="" id="link">Terminos y Condiciones</a>
    </section>
    <section class="">
        <h4 class="h4">Contacto</h4>
        <a href="" id="link">Telefono</a>
        <a href="" id="link">Email</a>
    </section>
    <section class="">
        <h4 class="h4">Redes Sociales</h4>
        <a href="" id="link">facebook</a>
        <a href="" id="link">instagram</a>
        <a href="" id="link">twitter</a>
        <a href="" id="link">tiktok</a>
    </section>
</footer>